/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typo */
body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: .9375rem;
}

/* common */
a {
    color: #3367d6;
    text-decoration: none;
    display: inline-block;
}

/* header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

/* top */
.header_top {
    height: 4rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.privacy_link img {
    vertical-align: bottom;
    height: 1.5625rem;
    padding-left: .75rem;
}

.privacy_link span {
    font-size: 1.375rem;
    color: #5f6368;
}

.apps_link {
    padding-right: .625rem;
}

.g_apps {
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border-radius: 50%;
    line-height: 2.5rem;
}

.g_apps:hover {
    background-color: rgba(60, 64, 67, 0.08);
}

.apps_link i {
    color: #5f6368;
}

.account {
    height: 2rem;
    width: 2rem;
    background-color: #8d6e63;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

.account:hover {
    outline: .375rem solid rgba(60, 64, 67, 0.08);
}

.initial {
    font-size: 1rem;
}

/* bottom */
.header_bottom {
    border-bottom: .0625rem solid #c3c5ca;
}

.header_bottom ul {
    list-style: none;
    height: 100%;
}

.header_bottom li {
    display: inline-block;
    padding: 0 1.25rem;
    font-size: .9375rem;
    height: 100%;
}

.header_bottom a {
    color: #5f6368;
    font-weight: 600;
    height: 100%;
    padding-bottom: .375rem;
}

.header_bottom a.active {
    border-bottom: .1875rem solid #3367d6;
}

/* main */
.container {
    width: 65%;
    margin: auto;
    padding-top: 12.5rem;
}

h2,
h3 {
    padding-bottom: 2.1875rem;
    font-size: 1.5625rem;
    color: #3c4043;
}

h3 {
    font-size: 1.125rem;
    color: #3c4043;
}

p {
    padding-bottom: 2.8125rem;
}

main ol {
    margin: -0.625rem 0 2.1875rem;
    padding-left: 1.25rem;
}

main ul {
    margin-top: 1.5625rem;
    padding-left: 1.25rem;
    list-style: none;
}

main ul li {
    margin-bottom: 1.5625rem;
    display: flex;
}

main ul li span:first-child {
    padding-right: 1.25rem;
}

/* footer */
footer {
    height: 2.8125rem;
    padding: .625rem .9375rem;
    background-color: #f5f5f5;
}